imphead{
	font-family: New;
	font-size: 50px;
	color: rgb(240, 40, 27);
}
h1{
	text-align: center;
}
a{
	align-content: center;
}
footer {
  background-color: white;
  padding: 10px;
	  font-size: 25px;
  text-align: center;
  color: red;
}

impleft{
	text-align: left;
	font-family: New;
	font-size: 25px;
	color: rgb(240, 40, 27);
	padding-bottom: 500px;

}
impright{
	text-align: right;
	font-family: New;
	font-size: 25px;
	color: rgb(240, 40, 27);
}
impcenter{
	font-family: New;
	font-size: 25px;
	color: rgb(240, 40, 27);
}

* {
  box-sizing: border-box;
}

.column {
  float: left;
  width: 50%;
  padding: 0px;
}

/* Clearfix (clear floats) */
.row::after {
  content: "";

  clear: both;
  display: table;
}

.social{
	color: red;
	text-decoration: none;
	font-size: 25px
	display:block !important;
	text-align: center;
	justify-content: center;
	width: 100px;

}
.social:hover{
	color: pink;
	text-decoration: none;
}
